h1{
  text-align: center;
  padding:10px;
  color:#B6CBD2
 
}
body{
background-color: #03045E;
}
.layout{
 width: 1280;
 height: 832;
}
.sup-login {
  font-weight: 400;
  font-family: inherit;
  text-rendering: optimizelegibility;
  line-height: 1.3;
  color: #000;
  margin: 20px; 
}
#ul-top{
text-align:center;
margin: 20px auto 0;
  width: 500px;
height: 470px;
background-color: #FFFF;
}
.Login{
float: left;
width: 50%;
cursor: pointer;
cursor: hand;
height: 2.4em;
line-height: 2.4em;
}
.Signup{
float: left;
  width: 50%;
  cursor: pointer;
  cursor: hand;
  height: 2.4em;
  line-height: 2.4em;
}
.loginas
{
  text-align: center;
  font-size:2em;
  padding:2em;
  color: #03045E;
}
.button {
  background-color: #CAF0F8;
  color: #03045E;
  border: solid #CAF0F8;
  padding: .5em .5em;
  font-size: 1em;
  font-weight:semi-bold;
  border-radius: 2em;
  width: 15em;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.button:hover {
  background-color: #c2e0e6;
  box-shadow: 0 0 .5em rgba(0, 0, 0, 0.1);
}
/* CSS for the active tab */
.active-tab {
  background-color: #E6E6E6; /* Change this to your desired color */
  color: #03045E; /* Change this to your desired text color */
}

/* CSS for the inactive tab */
.inactive-tab {
  background-color: #ffffff;
  color: #000; /* Change this to your desired text color */
}
/* CSS styles for the login and signup forms */
.form-container {

}
.admin
{
  text-align: center;
  font-size:2em;
  padding:2em;
  color: #03045E;
}
.Login{
  float: left;
  width: 50%;
  cursor: pointer;
  cursor: hand;
  height: 2.4em;
  line-height: 2.4em;
  }
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] 
{
  
}